.modalContainer form{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.modalContainer form label{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.modalContainer form label select{
    padding: 0px 10px;
    font-size: 1.1rem;
    margin: 0px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.selectPaises{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.selectPaises label select{
    width: 176px;
    height: fit-content;
}

.listaPaises{
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}

.listaPaises p{
    border-radius: 10px;
    background-color: rgb(60, 60, 146);
    padding: 1px 4px;
    margin: 3px;
    width: fit-content;
    height: fit-content;
}

.iconClose{
    cursor: pointer;
    transition: all .3s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.iconClose:hover{
    color: blue;
}

.botones{
    margin-top: 2%;
    position: relative;
    right: 6%;
}

.listaPaises button{
    position: relative;
    left: 2%;
}

.Nombre label{
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
}    

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
}

.error-field {
    border: 2px solid red !important; 
}


